<div class="container">
    <div class="title">
        <span>Scroll down to get more list of items</span>
    </div>
    <div
        *ngIf="result"
        class="cover-content"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="0"
        [infiniteScrollDisabled]="disableScroll"
        (scrolled)="onScroll()"
        [scrollWindow]="false">
        <div class="content" *ngFor="let item of result.items">
            {{item}}
        </div>
        <div *ngIf="isLoading" class="load-list">Loading...</div>
        <div *ngIf="!isLoading && disableScroll" class="no-more-list">No more list...</div>
    </div>
    <app-loader *ngIf="!result"></app-loader>
</div>